.s6 > svg {
  width: 6px;
  height: 6px;
}
.s8 > svg {
  width: 8px;
  height: 8px;
}
.s10 > svg {
  width: 10px;
  height: 10px;
}
.s11 > svg {
  width: 11px;
  height: 11px;
}
.s12 > svg {
  width: 12px;
  height: 12px;
}
.s13 > svg {
  width: 13px;
  height: 13px;
}
.s14 > svg {
  width: 14px;
  height: 14px;
}
.s15 > svg {
  width: 15px;
  height: 15px;
}
.s16 > svg {
  width: 16px;
  height: 16px;
}
.s17 > svg {
  width: 17px;
  height: 17px;
}
.s18 > svg {
  width: 18px;
  height: 18px;
}
.s19 > svg {
  width: 19px;
  height: 19px;
}
.s20 > svg {
  width: 20px;
  height: 20px;
}
.s21 > svg {
  width: 21px;
  height: 21px;
}
.s22 > svg {
  width: 22px;
  height: 22px;
}
.s23 > svg {
  width: 23px;
  height: 23px;
}
.s24 > svg {
  width: 24px;
  height: 24px;
}
.s25 > svg {
  width: 25px;
  height: 25px;
}
.s26 > svg {
  width: 26px;
  height: 26px;
}
.s27 > svg {
  width: 27px;
  height: 27px;
}
.s28 > svg {
  width: 28px;
  height: 28px;
}
.s29 > svg {
  width: 29px;
  height: 29px;
}
.s30 > svg {
  width: 30px;
  height: 30px;
}
